    <div class="fab-container">
        <div class="fab-menu">
            <button id="fab-refresh-pill" class="fab-menu-pill animated-btn task-btn">
                <span class="animated-btn-icon-wrapper">
                    <orecalc-assets-svg name="refresh"></orecalc-assets-svg>
                </span>
                <span class="animated-btn-text" data-i18n="actions.refresh">Refresh</span>
                <span class="button-loader">
                    <span></span><span></span><span></span>
                </span>
                <span class="button-success-icon"><orecalc-assets-svg name="cloud-check"></orecalc-assets-svg></span>
                <span class="button-error-icon"><orecalc-assets-svg name="cloud-error"></orecalc-assets-svg></span>
            </button>
            <button id="fab-save-data-pill" class="fab-menu-pill animated-btn task-btn">
                <span class="button-loader">
                    <span></span><span></span><span></span>
                </span>
                <span class="button-error-icon"><orecalc-assets-svg name="cloud-error"></orecalc-assets-svg></span>
                <span class="button-success-icon"><orecalc-assets-svg name="cloud-check"></orecalc-assets-svg></span>
                <span class="animated-btn-icon-wrapper">
                    <orecalc-assets-svg name="save-data"></orecalc-assets-svg>
                </span>
                <span class="animated-btn-text" data-i18n="actions.sync">Sync Data</span>
            </button>
        </div>
        <button id="main-fab" class="fab-button task-btn" data-i18n-aria-label="actions.actionsMenu" aria-label="Actions Menu">
            <span class="button-loader">
                <span></span><span></span><span></span>
            </span>
            <span class="button-error-icon"><orecalc-assets-svg name="cloud-error"></orecalc-assets-svg></span>
            <span class="button-success-icon"><orecalc-assets-svg name="cloud-check"></orecalc-assets-svg></span>
            <span class="fab-icon fab-plus-icon">
                <orecalc-assets-svg name="plus"></orecalc-assets-svg>
            </span>
            <span class="fab-icon fab-cross-icon">
                <orecalc-assets-svg name="close"></orecalc-assets-svg>
            </span>
        </button>
    </div>

