    <button id="floating-save-btn" class="floating-save-btn animated-btn task-btn" disabled>
        <span class="animated-btn-icon-wrapper fill-current">
            <orecalc-assets-svg name="sync"></orecalc-assets-svg>
        </span>
        <span class="animated-btn-text" data-i18n="actions.sync">Sync Data</span>
        <span class="animated-btn-icon-disabled">
            <orecalc-assets-svg name="cloud-off"></orecalc-assets-svg>
        </span>
        <span class="button-loader">
            <span></span><span></span><span></span>
        </span>
        <span class="button-success-icon"><orecalc-assets-svg name="cloud-check"></orecalc-assets-svg></span>
        <span class="button-error-icon"><orecalc-assets-svg name="cloud-error"></orecalc-assets-svg></span>
        <span class="save-button-tooltip" data-i18n="player.dataNotFound">Data not found. Enter correct tag or click Load!</span>
    </button>

