# Node.js dependencies
node_modules/
package-lock.json

# Build output
dist/
*.css
*.css.map
*.min.js

# Environment variables and sensitive files
.env
.ngrok.yml
.vscode/
orecalc-firestore-sa-key.json

# macOS specific files
.DS_Store

# Server specific ignores
server/.env
server/orecalc-firestore-sa-key.json
server/node_modules/
server/package-lock.json