# Node.js dependencies
node_modules/
package-lock.json

# Build output
dist/
*.css
*.css.map
*.min.js

# Environment variables and sensitive files
.env
.ngrok.yml
.vscode/

# macOS specific files
.DS_Store

# Server specific ignores
server/node_modules/
server/package-lock.json