@use '../abstracts/variables' as *;
@use '../base/placeholder';

.header-container {
    @extend %flex-center;
    flex-wrap: nowrap;
    margin: 0 10px 20px;
    transition: all 0.4s ease-in-out;
    position: relative;

    h1 {
        margin-right: auto;
    }

    &--sticky {
        background-color: $color-black-200;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        left: 0;
        margin: 0 auto;
        padding: 10px 20px;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 1200px;
        z-index: 1000;
    }
}

.player-controls-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.header-placeholder {
    display: none;
    height: 0;
    transition: height 0.4s ease-in-out;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
    position: relative;

    .menu-icon,
    .cross-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out;
    }

    .cross-icon {
        opacity: 0;
    }
}

body.open-drawer .hamburger .menu-icon {
    opacity: 0;
}

body.open-drawer .hamburger .cross-icon {
    opacity: 1;
}

@media (max-width: 779px) {
    .header-container {
        justify-content: space-between;
    }

    .header-container h1 {
        margin-right: 0;
    }

    .hamburger {
        display: block;
    }

    .player-controls-container {
        margin-left: auto;
    }

    .tab-bar-container {
        display: none;
    }
}