CLASH_OF_CLANS_API_TOKEN="YOUR_CLASH_OF_CLANS_API_TOKEN_HERE"

# Optional: Override the Base API URL
# Default: https://cocproxy.royaleapi.dev/v1 (Requires RoyaleAPI Proxy IP whitelisted in developer portal: 45.79.218.79)
# Official: https://api.clashofclans.com/v1 (Requires your server's static IP to be whitelisted)
# COC_API_BASE_URL="https://api.clashofclans.com/v1"

FIRESTORE_SA_KEY='{"type": "service_account", "project_id": "YOUR_PROJECT_ID", "private_key_id": "YOUR_PRIVATE_KEY_ID", "private_key": "YOUR_PRIVATE_KEY", "client_email": "YOUR_CLIENT_EMAIL", "client_id": "YOUR_CLIENT_ID", "auth_uri": "YOUR_AUTH_URI", "token_uri": "YOUR_TOKEN_URI", "auth_provider_x509_cert_url": "YOUR_AUTH_PROVIDER_X509_CERT_URL", "client_x509_cert_url": "YOUR_CLIENT_X509_CERT_URL", "universe_domain": "YOUR_UNIVERSE_DOMAIN"}'

# SMTP Configuration for Manual Data Erasure Requests
SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="smtp_username"
SMTP_PASS="smtp_password"
EMAIL_FROM="noreply@example.com"
# Target Recipient Email Addresses
RECIPIENT_EMAIL_SUPPORT="support@example.com"
RECIPIENT_EMAIL_LEGAL="legal@example.com"
RECIPIENT_EMAIL_SECURITY="security@example.com"