@use '../abstracts/variables' as *;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $dark-background-primary;
    color: $dark-text-primary;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input,
textarea {
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

:root {
	--font-size-xl: 24px;
	--font-size-lg: 18px;
	--font-size-md: 16px;
	--font-size-sm: 14px;
	--font-size-xs: 12px;
	--font-size-em-lg: 1.2em;
	--font-size-em-md: 1em;

    --text-color: #E6E1E5;
    --text-color-light: #CAC4D0;
    --text-color-disabled: #938F99;
    --accent-color: #D0BCFF;
    --accent-text-color: #381E72;

    --color-white: #ffffff;
    --color-grey-100: #e8eaed;
    --color-grey-200: #e3e2e6;
    --color-grey-300: #ccc;
    --color-grey-400: #bdc1c6;
    --color-grey-500: #bbb;
    --color-grey-600: #616161;
    --color-grey-700: #424242;
    --color-grey-800: #383a3c;
    --color-grey-900: #333333;
    --color-black-100: #2b2929;
    --color-black-200: #2c2e30;
    --color-black-300: #202124;
    --color-black-400: #1a1c1e;
    --color-grey-border: #5f6368;
    --color-primary-blue: #8ab4f8;
    --color-primary-purple: #7c4b8e;
    --color-accent-yellow-100: #f9c840;
    --color-accent-yellow-200: #fbbf24;
    --color-accent-purple-light: #c19ecd;
    --color-accent-purple-dark: #b39ddb;
    --color-success-100: #a5d6a7;
    --color-success-200: #81c784;
    --color-success-300: #4caf50;
    --color-success-400: #45a049;
    --color-danger-100: #ef9a9a;
    --color-danger-200: #ef5350;
    --color-danger-300: #ef4444;
    --color-danger-400: #dc2626;
    --color-danger-500: #d32f2f;
    --background-transparent: transparent;
    --background-overlay-dark-1: rgba(0, 0, 0, 0.5);
    --background-overlay-dark-2: rgba(0, 0, 0, 0.7);
    --background-overlay-blue-1: rgba(138, 180, 248, 0.1);
    --background-overlay-blue-2: rgba(138, 180, 248, 0.2);
    --background-overlay-blue-3: rgba(138, 180, 248, 0.3);
    --material-track-inactive: #79747E;
    --material-track-active: #6750A4;
    --material-track-focus-outline: rgba(103, 80, 164, 0.2);
    --material-thumb-inactive: #E6E1E5;
    --material-thumb-active: #FFD8E4;
    --font-family-sans: 'Roboto', sans-serif;

    --input-bg-color: #{$md-surface};
    --input-bg-color-transparent: #{$input-bg-color-transparent};
}

.container {
	background-color: $dark-background-secondary;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	max-width: 1200px;
	padding: 20px;
}

.hidden-button-space {
	visibility: hidden;
}