@use '../abstracts/variables' as *;
@use '../base/placeholder';

.notice {
    color: $text-secondary;
    font-size: 0.6em;
    padding: 10px;
    text-align: center;

    p {
        margin: 0;
    }

    a {
        color: $text-primary;
        text-decoration: underline;
        display: inline-block;
    }

    &.supercell-notice {
        // border-top: 1px solid var(--border-color);
        margin-top: 10px;
        a:hover {
            color: var(--accent-primary);
        }
    }
}
