@use '../abstracts/variables' as *;
@use '../base/placeholder';

.overlay {
    @extend %full-screen-overlay;
    background-color: $bg-overlay;
    z-index: $z-index-overlay;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}