@use '../abstracts/variables' as *;

#update-available-modal {
    .modal-content {
        max-width: 400px;
        gap: 1rem;
    }

    .modal-actions {
        gap: 1rem;

        .reject-button,
        .accept-button {
            flex: 1;
        }
    }
}
