@use '../abstracts/variables' as *;
@use '../base/placeholder';

.user-id-display-group {
    display: flex;
    align-items: center;
    gap: 10px;

    #user-id-display {
        background-color: $color-black-300;
        border: 1px solid $color-grey-border;
        border-radius: 5px;
        color: $color-grey-200;
        padding: 8px 12px;
        font-family: 'Roboto Mono', monospace;
        font-size: var(--font-size-md);
        word-break: break-all;
        width: fit-content;
    }
}

.id-child-fields {
    background-color: $color-black-300;
    border: 1px solid $color-grey-border;
    border-radius: 5px;
    color: $color-grey-200;
    padding: 8px;
    font-size: var(--font-size-md);
    text-align: right;
    margin-top: 10px;
    box-sizing: border-box;

    &:focus {
        border-color: $color-primary-blue;
        box-shadow: 0 0 0 3px $background-overlay-blue-3;
        outline: none;
    }
}

#import-user-id-input {
    width: 100%;
}

.settings-cards-grid {
    align-items: stretch;
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.settings-card--responsive {
    padding: 20px !important;

    .animated-btn {
        min-width: 60px;
        .animated-btn-text {
            display: none;
        }

        .animated-btn-icon-wrapper {
            transform: translateY(0);
            transition: none;
        }
    }
}
