<div id="accent-picker-modal" class="modal">
    <div class="modal-content accent-picker-modal-content">
        <div class="modal-header">
            <h2 data-i18n="settings.options.accentColor">Accent Color</h2>
            <button id="close-accent-picker-btn" class="close-button">
                <orecalc-assets-svg name="close"></orecalc-assets-svg>
            </button>
        </div>
        <div class="modal-body">
            <div class="mobile-accent-grid">
                <button class="mobile-accent-swatch" data-color="blue"></button>
                <button class="mobile-accent-swatch" data-color="gold"></button>
                <button class="mobile-accent-swatch" data-color="purple"></button>
                <button class="mobile-accent-swatch" data-color="green"></button>
                <button class="mobile-accent-swatch" data-color="red"></button>
                <button class="mobile-accent-swatch" data-color="random" title="Random"></button>
            </div>
        </div>
    </div>
</div>
