<dialog id="avatar-modal" class="modal" aria-labelledby="avatar-modal-title">
    <div class="modal-content avatar-modal-content modal-compact">
        <div class="modal-header">
            <h2 id="avatar-modal-title" data-i18n="auth.chooseAvatar"></h2>
            <button type="button" id="close-avatar-modal-btn" class="close-button" data-i18n-aria-label="actions.close">
                <orecalc-assets-svg name="close"></orecalc-assets-svg>
            </button>
        </div>
        <div class="modal-body">
            <div class="avatar-options-grid">
                <button type="button" class="avatar-option-btn" data-avatar="archer" aria-label="Archer" data-i18n-aria-label="entities.unitTypes.archer" data-modal-autofocus>
                    <orecalc-assets-image src="assets/avatars/archer.png" alt=""></orecalc-assets-image>
                </button>
                <button type="button" class="avatar-option-btn" data-avatar="builder" aria-label="Builder" data-i18n-aria-label="auth.avatars.builder">
                    <orecalc-assets-image src="assets/avatars/builder.png" alt=""></orecalc-assets-image>
                </button>
                <button type="button" class="avatar-option-btn" data-avatar="giant" aria-label="Giant" data-i18n-aria-label="auth.avatars.giant">
                    <orecalc-assets-image src="assets/avatars/giant.png" alt=""></orecalc-assets-image>
                </button>
                <button type="button" class="avatar-option-btn" data-avatar="goblin" aria-label="Goblin" data-i18n-aria-label="auth.avatars.goblin">
                    <orecalc-assets-image src="assets/avatars/goblin.png" alt=""></orecalc-assets-image>
                </button>
                <button type="button" class="avatar-option-btn" data-avatar="golem" aria-label="Golem" data-i18n-aria-label="auth.avatars.golem">
                    <orecalc-assets-image src="assets/avatars/golem.png" alt=""></orecalc-assets-image>
                </button>
                <button type="button" class="avatar-option-btn" data-avatar="hogRider" aria-label="Hog Rider" data-i18n-aria-label="entities.unitTypes.hogRider">
                    <orecalc-assets-image src="assets/avatars/hogRider.png" alt=""></orecalc-assets-image>
                </button>
                <button type="button" class="avatar-option-btn" data-avatar="hog" aria-label="Hog" data-i18n-aria-label="auth.avatars.hog">
                    <orecalc-assets-image src="assets/avatars/hog.png" alt=""></orecalc-assets-image>
                </button>
                <button type="button" class="avatar-option-btn" data-avatar="skeleton" aria-label="Skeleton" data-i18n-aria-label="auth.avatars.skeleton">
                    <orecalc-assets-image src="assets/avatars/skeleton.png" alt=""></orecalc-assets-image>
                </button>
            </div>
        </div>
    </div>
</dialog>
