    <div id="changelog-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 data-i18n="changelog.title">Changelog</h2>
                <button id="close-changelog-modal-btn" class="close-button"><orecalc-assets-svg name="close"></orecalc-assets-svg></button>
            </div>
            <div id="changelog-modal-body" class="modal-body">
                <!-- Changelog content will be dynamically inserted here -->
            </div>
        </div>
    </div>
