<div id="consent-banner" class="consent-banner">
    <div class="consent-banner-content">
        <span class="consent-banner-text" id="consent-banner-text" data-i18n="legal.bannerTextBoth">We have updated our Terms of Use and Privacy Policy.</span>
        <div class="consent-banner-actions">
            <button id="consent-banner-view-btn" class="accept-button" data-i18n="actions.view">View</button>
            <button id="consent-banner-close-btn" class="close-button" data-i18n-aria-label="actions.close" aria-label="Close">
                <orecalc-assets-svg name="close"></orecalc-assets-svg>
            </button>
        </div>
    </div>
</div>
