<dialog id="contact-modal" class="modal" aria-labelledby="contact-modal-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="contact-modal-title" data-i18n="views.settings.contact"></h2>
            <button id="close-contact-header-btn" class="close-button" data-i18n-aria-label="actions.close">
                <orecalc-assets-svg name="close"></orecalc-assets-svg>
            </button>
        </div>
        <div class="modal-body flex-column-gap-15 text-left">
            <p data-i18n="views.settings.contactInfo"></p>
        </div>
        <div class="modal-actions push-top-20">
            <button id="close-contact-modal-btn" class="reject-button" data-i18n="actions.close"></button>
            <a href="mailto:support@clashcalc.com" id="contact-mail-btn" class="accept-button text-center decor-none" data-i18n="actions.openMailClient" data-modal-autofocus></a>
        </div>
    </div>
</dialog>
