<div id="contact-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 data-i18n="settings.contact">Contact</h2>
            <button id="close-contact-header-btn" class="close-button">
                <orecalc-assets-svg name="close"></orecalc-assets-svg>
            </button>
        </div>
        <div class="modal-body flex-column-gap-15 text-left">
            <p data-i18n="settings.contactInfo">
                For questions, feedback, or feature suggestions, you can contact us at <code>support@clashcalc.com</code>. Click the button below to open your mail client.
            </p>
        </div>
        <div class="modal-actions push-top-20">
            <button id="close-contact-modal-btn" class="reject-button" data-i18n="actions.close">Close</button>
            <a href="mailto:support@clashcalc.com" id="contact-mail-btn" class="accept-button text-center decor-none" data-i18n="actions.openMailClient">Open Mail Client</a>
        </div>
    </div>
</div>
