<dialog id="download-data-modal" class="modal" aria-labelledby="download-data-modal-title">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="download-data-modal-title" data-i18n="views.settings.download.title"></h2>
            <button id="close-download-data-modal-btn" class="close-button" data-i18n-aria-label="actions.close">
                <orecalc-assets-svg name="close"></orecalc-assets-svg>
            </button>
        </div>
        <div class="modal-info-text">
            <p data-i18n="views.settings.download.description"></p>
            <p id="download-filename-preview"></p>
        </div>
        <div class="modal-actions">
            <button id="cancel-download-data-btn" class="reject-button" data-i18n="actions.cancel"></button>
            <button id="confirm-download-data-btn" class="accept-button" data-i18n="actions.download" data-modal-autofocus></button>
        </div>
    </div>
</dialog>
