    <dialog id="priority-list-modal" class="modal" aria-labelledby="priority-list-modal-title" data-i18n-aria-label="views.planner.editPriorityList">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="priority-list-modal-title" data-i18n="views.planner.editPriorityList"></h2>
                <div class="modal-header-actions">
                    <button id="unhide-suggestion-btn" class="suggestion-message-btn" style="display: none;" data-i18n-aria-label="actions.viewSuggestions">
                        <orecalc-assets-svg name="suggestion" width="20" height="20"></orecalc-assets-svg>
                        <span id="suggestion-badge" class="badge">0</span>
                    </button>
                    <button id="priority-list-stored-ores-btn" class="stored-ores-button" data-i18n-title="views.income.ores.storedTitle" data-i18n-aria-label="views.income.ores.storedTitle"><orecalc-assets-image src="assets/equipment/equip_placeholder.png" alt="Stored Ores" size="thumbnail"></orecalc-assets-image></button>
                    <button id="priority-list-modal-info-btn" class="info-button" style="display: none;" data-info="views.planner.priorityListModalHelp" data-i18n-aria-label="actions.showInfo"><orecalc-assets-svg name="info" height="22" width="22"></orecalc-assets-svg></button>
                    <button id="reset-priority-list-modal-btn" class="reset-button" data-i18n-aria-label="actions.resetPriorityList"><orecalc-assets-svg name="trash"></orecalc-assets-svg></button>
                    <button id="close-priority-list-modal-btn" class="close-button" data-i18n-aria-label="actions.close" data-modal-autofocus><orecalc-assets-svg name="close"></orecalc-assets-svg></button>
                </div>
            </div>
            <div id="priority-list-modal-body" class="modal-body">
                <!-- DYNAMIC INSERTION: Priority step items -->
            </div>

        </div>
    </dialog>
