    <div id="qr-code-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 data-i18n="player.qrTitle">User ID QR Code</h2>
                <button id="close-qr-code-modal-btn" class="close-button"><orecalc-assets-svg name="close"></orecalc-assets-svg></button>
            </div>
            <div id="qr-code-modal-body" class="modal-body centered-text">
                <div class="margin-bottom-20">
                    <div id="qr-copy-success-message" class="qr-success-msg hidden"></div>
                    <span id="user-id-display" class="calculated id-child-fields qr-user-id" title="Click to copy" data-i18n-title="actions.clickToCopy"></span>
                </div>
                <div id="qr-code-container" class="inline-block"></div>
                <p data-i18n="player.qrDisplayInstruction" class="centered-text margin-top-1rem"></p>
            </div>
        </div>
    </div>
