    <dialog id="update-available-modal" class="modal" aria-labelledby="update-available-modal-title">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="update-available-modal-title" data-i18n="status.updateAvailable"></h2>
                <div class="modal-header-actions">
                    <button id="close-update-modal-btn" class="close-button" data-i18n-aria-label="actions.close">
                        <orecalc-assets-svg name="close"></orecalc-assets-svg>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <p data-i18n="status.updatePrompt"></p>
                <div class="modal-notice-footer">
                    <p id="update-force-countdown-text"></p>
                </div>
            </div>
            <div class="modal-actions">
                <button id="update-later-button" class="reject-button" data-i18n="actions.later"></button>
                <button id="update-reload-button" class="accept-button" data-i18n="actions.reload" data-modal-autofocus></button>
            </div>
        </div>
    </dialog>
