    <div id="update-available-modal" class="modal modal-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 data-i18n="status.updateAvailable">Update Available</h2>
                <button id="close-update-modal-btn" class="close-button">
                    <orecalc-assets-svg name="close"></orecalc-assets-svg>
                </button>
            </div>
            <div class="modal-body">
                <p data-i18n="status.updatePrompt">A new version of the application is available. Reload to get the latest features and fixes.</p>
            </div>
            <div class="modal-actions">
                <button id="update-later-button" class="reject-button" data-i18n="actions.later">Later</button>
                <button id="update-reload-button" class="accept-button" data-i18n="actions.reload">Reload</button>
            </div>
        </div>
    </div>
